<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Registration</title>
  </head>
  <body>
    <div class="container">
      <div class="sign-in">
        <form method="post" action="/home">
          <h1>Register Here</h1>
          <input type="text" name="user" placeholder="Name" required />
          <input type="text" name="email" placeholder="Email" required />
          <input type="text" name="phonenumber" placeholder="Mobile Number" required/>
          <input type="number" name="table" placeholder="Table Number" required />
          <button type="submit">Register</button>
        </form>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
